.oldSort {
  color: rgba(106, 0, 255, 0.839);
}

.newSort {
  color: rgba(255, 106, 0, 0.839);
}

.search {
  color: rgb(0, 255, 106, 0.839);
}

.newSort,
.oldSort,
.search {
  border: none;
  border-radius: 10px;
  background-color: #fee8e8;
}
